source https://www.nuget.org/api/v2

github fsprojects/Chessie src/Chessie/ErrorHandling.fs

group UnitTest
    source https://www.nuget.org/api/v2

    nuget Persimmon ~> 1.0
    nuget Persimmon.Console ~> 1.0
