source https://www.nuget.org/api/v2

github FSharpKit/FSharpKit.ErrorHandling:v0.1.0 FSharpKit.ErrorHandling/Option.fs
github FSharpKit/FSharpKit.ErrorHandling:v0.1.0 FSharpKit.ErrorHandling/Result.fs
github FSharpKit/FSharpKit.ErrorHandling:v0.1.0 FSharpKit.ErrorHandling/AsyncResult.fs
nuget VainZero.FsYaml ~> 2.0

group Cli
    source https://www.nuget.org/api/v2

    nuget Argu ~> 3.0

group UnitTest
    source https://www.nuget.org/api/v2

    nuget Persimmon ~> 1.0
    nuget Persimmon.Console ~> 1.0
